.list {
  padding: 0;
}

.listItem {
  list-style: none;
  margin-top: 3.5rem;
  margin-bottom: 1.75rem;
}

.listTitle {
  color: var(--primary);
}

.listDataTime svg {
  width: 20px;
  margin-left: 0.5rem;
}

/* small view */
@media (min-width: 576px) {
  .listDataTime {
    display: -webkit-flex;
    display: flex;
  }
}
