.list {
  padding: 0;
}

.item {
  list-style: none;
  margin-top: 2.5rem;
  margin-bottom: 1.75rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: var(--primary);
  font-size: 2rem;
}

.languageList {
  display: none;
}

.description {
  margin: .5rem 0;
  font-weight: 300;
  line-height: 1.4;
}

/* small view */
@media (min-width: 576px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
  .languageList {
    display: flex;
    padding: 0;
    list-style: none;
  }

  .languageList li {
    margin-right: 8px;
  }
}
