:root {
  /* general variables  */
  --primary: #9af;
  /* dark theme colors */
  --background: #292a2d;
  --background-secondary: #3b3d42;
  --bg-header: #252627;
  --color: #a9a9b3;
  --color-secondary: #73747b;
  --border-color: #4a4b50;
}

.light {
  /* light theme color */
  --background: #fff;
  --background-secondary: #eaeaea;
  --bg-header: #fafafa;
  --color: #222;
  --color-secondary: #999;
  --border-color: #dcdcdc;
}
